.product-container{
    position: relative; 
    display: flex;
    aspect-ratio: 1;
    align-items: flex-end;
    border-radius: 10px;
    background-color: #e1e1e1;

    transition: 0.25s;
}

.product-background{
    display: flex;
    position: absolute;
    z-index: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.product-background>i{
    color: #7b66cf;
    font-size: 700%;

    text-align: center;

    aspect-ratio: 1;
    filter: blur(10px);
    opacity: 0.25;
    transition: 5s;
}


.product-bottom-info{
    display: flex;
    flex-direction: column;
    padding: 10px;
    opacity: 1  ;

    transition: 0.25s;
}

.product-name{
    text-transform: capitalize;
    font-size: 110%;
    font-weight: bolder;
    color: #4b2d72;
}

.product-description{
    color: rgb(93, 93, 93);
    font-weight:500;
}

.product-price{
    color: #4b2d72;
}

.product-button-add{
    display: grid;
    place-items: center;
    position: absolute;
    right: 10px;
    top: 10px;

    text-align: left;

    height: 17%;
    width: 17%;
    border-radius: 50%;
    border: none;
    color: #7b66cf;
    font-size: 120%;

    z-index: 1;
}
